<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>welcome to text analyser. Enter your name bellow:</h1>
<form action='/analyze' method='get'>
    <textarea name="text" style="margin: 0px; width: 681px; height: 122px;"></textarea><br>
    <input type="checkbox" name="removepunc">Remove Punctuations<br>
    <input type="checkbox" name="allcaps">Capitalize<br>
    <input type="checkbox" name="rmvnewline">Remove New line<br>
    <input type="checkbox" name="cntchars">Count characters<br>
    <button type="submit">Analyze text</button>

</form>



</body>
</html>